
/* size layout */
.w-full {
    width: 100%!important;
    border: 1px solid black;
}

/* flex area */
.flex {
    display: flex
}

.flex-j-content-c {
    justify-content: center;
}

.flex-a-items-c {
    align-items: center;
}