<h1><%- title %></h1>

<form action="/add" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name of the movie: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="movie" aria-describedby="text">
      <div id="text" class="form-text">Feel free to write any movie</div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    <a href="/" class="btn btn-danger btn-lg">Cancel</a>
  </form>